cachetools
cryptography
fastapi==0.79.0
google-auth
google-auth-oauthlib
h5py
httptools==0.4.0
keras==2.9.0
Keras-Preprocessing
libclang==14.0.6
Markdown
MarkupSafe
multidict
numpy
packaging==20.9
Pillow==9.2.0
protobuf==3.20.0
pydantic==1.9.1
pyOpenSSL
python-dotenv==0.20.0
python-multipart==0.0.5
PyYAML
requests
requests-oauthlib
rsa
scipy
six
starlette==0.19.1
tensorboard==2.9.0
tensorflow==2.9.0
tensorflow-hub==0.12.0
tensorflowjs==3.19.0
typing_extensions
urllib3
uvicorn==0.18.2
uvloop==0.16.0
watchfiles==0.16.1
websockets==10.3
zipp
